{% extends 'temp/user.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>view payment</title>
</head>
<body>
	<center>
        <h1><b>View Updated Payment</b></h1>
		<form>
			<table border="2" class="table table-striped">
				<tr>
{#					<th>Username</th>#}
					<th>Amount</th>
					<th>Date</th>
					<th>Time</th>
				</tr>
                {% for i in cc %}
				<tr>
{#					<td>{{ i.user.name }}</td>#}
					<td>{{ i.amount }}</td>
					<td>{{ i.date }}</td>
					<td>{{ i.time }}</td>
                <td><a href="{% url 'py1'  idd=i.pay_id%}">pay</a> </td>
				</tr>
                {% endfor %}
			</table>
			
		</form>
	</center>

</body>
</html>
{% endblock %}