{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#	<title>VIEW SCHEDULE</title>#}
{#</head>#}
{% extends 'temp/user.html' %}
{% block base %}
<body>
	<center>
        <h1><b>VIEW TRIP HISTORY</b></h1>
	<form>
		<table border="2" class="table table-striped" width="70%">
			<tr  height="50px">
                <td>Username</td>
{#				<td>Driver name</td>#}
				<td>Place</td>
				<td>Starting Time</td>
				<td>Ending Time</td>
            </tr>
            {% for i in vv %}

			<tr>
				<td>{{ i.user.name }}</td>
				<td>{{ i.place }}</td>
				<td>{{ i.starting_time }}</td>
				<td>{{ i.ending_time }}</td>
			</tr>
            {% endfor %}
		</table>
	</form>
</center>

</body>
</html>
{% endblock %}