{% extends 'temp/user.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>update user</title>
</head>
<body>
	<center>
        <h1> <b>View User and Update</b></h1>
		<form>
		<table border="2" class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Location</th>
				<th>Phone</th>
                <th></th>
			</tr>
            {% for i in kk %}
			<tr>
				<td>{{ i.name }}</td>
				<td>{{ i.age }}</td>
				<td>{{ i.location }}</td>
				<td>{{ i.phone_number }}</td>
				<td><a href="/user/updateus/{{ i.user_id }}" class="btn btn-primary">Update</a></td>
			</tr>
            {% endfor %}
        </table>
		</form>

	</center>

</body>
</html>
{% endblock %}